<div class='row'>
  <div class='col'>
    <div class='jumbotron text-center'>
      <h1>Fl*ckr F*ndr</h1>
      <p> Enter a Flickr userID to get started.</p>
       <div class='row'> 
        <div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
          <%= form_tag('/', method: 'get') do %>
            <%= text_field_tag :userID, params[:userID], { placeholder: "Enter a userID", class: 'form-control' } %>
          <%= submit_tag "Search", { id: 'search-btn', class: 'btn btn-primary btn-block' } %>
          <% end %>
        </div>
       </div> 
    </div>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <% if params[:userID].present? %>
      <% if valid_user?(params[:userID]) %>
        <% user_photos(params[:userID]).each do |photo| %>
          <%= link_to(image_tag(FlickRaw.url_q(photo)), url: FlickRaw.url_photopage(photo)) %>
        <% end %>
      <% else %>
        <% flash.now[:danger] = 'Sorry, that user wasn\'t found.' %>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %> alert-dismissible">
                <button type='button' class='close fade' data-dismiss='alert'>
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <% photos = recent_photos %>
        <% photos.each do |photo| %>
          <%= link_to(
            image_tag(FlickRaw.url_q(photo)),
            FlickRaw.url_photopage(photo_info(photo))) %>
        <% end %>
      <% end %>
    <% else %>
      <% photos = recent_photos %>
      <% photos.each do |photo| %>
        <%= link_to(
          image_tag(FlickRaw.url_q(photo)),
          FlickRaw.url_photopage(photo_info(photo))) %>
      <% end %>
    <% end %>
  </div>
</div>

<% console %>